<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>骨格ストレートタイプ</title>
    <link rel="stylesheet" hrel="page_a.css">
  </head>
  <body class="straight">
    <header>
      骨格診断ツール コッカくん
    </header>
    <div class="type">
      Aが多かったあなたは、<span class="red">『骨格ストレートタイプ』</span>です！
      <br>王様タイプとも呼ばれ、スーツが似合う人が多く、特徴は下記の通りです。
    </div>

      <ul class="characteristics">
      <li>胸板が厚い/肩まわりガッチリ</li>
      <li>上半身にボリューム/首が短い</li>
      <li>ぽっちゃりに見える、もしくは筋肉質のマッチョ</li>
      <li>太ももは肉感的/膝下は細い</li>
      <li>腰の位置が高い/脚長</li>
      <li>体に比べ手足が小さく、厚みがある</li>
      <li>持たれやすいイメージは、正統派 真面目 健康的 強い 頼りがいがある。</li>
      <li>このタイプの有名人は、松平健さん 香川照之さん 渡辺謙さんがいます。</li>
      </ul>
    </div>
    
    <div class="table">
      ■筋トレについて
      </div>
    <div class="muscle">
    骨格ストレートタイプの人は腹筋を重点的に鍛えましょう。
    <br>骨格ストレートタイプの体型はりんご体型の人が多く、くびれがないとぽっちゃりに見えてしまいます。
    <br>逆にウエストを締めると体にメリハリが出ます。
    <br>ちなみに、太るときはりんごの形のまま太るため、顔 お腹 腕 前太ももが太る傾向にあります。
    </div>

    <div class="table">
    ■似合う服装について
    </div>
    <div class="coordination">
    体自体に存在感があるため、シンプルイズベストがおすすめ。
    <br>上半身に厚みがある分、着太りするのでジャストサイズ
    <br>透け感のある薄手の服などは必要以上に筋肉を強調するので厚地で上質なデザインが似合う
    </div>
    <div class="table">

    ■トップスについて
    </div>
    <div class="top">
    厚みのある胸元をすっきり見せるため、首回りの空いている服装 Vネック
     <br>重ね着は着太りする。上半身の厚みを隠してくれるジャケットが似合う
     <br>薄手の生地はムチムチ感が出るため、シャツやTシャツは厚地/光沢のあるもの
    </div>
    <div class="table">
    ■ボトムスについて
    </div>
    <div class="bottom">
    スキニーよりも筋肉質の太ももをあまり強調しないストレートパンツ
    <br>中央に縦線の入っているスラックスも似合う
    <br>短パンなら細い膝下を見せる膝上の短パン これも太ももの筋肉を強調しないように厚地や上質な素材を選ぶ
    </div>

    <div class="table">
    ■似合う柄について
    </div>
    <div class="pattern">
    直線を意識
    <br>幅太め 色コントラスト強め 大きめの柄
    <br>体に存在感があるため、シンプルな柄がおすすめ
    </div>

    <div class="table">
    ■NGな服装について
    </div>
    <div class="ng">
    首が短いのでハイネックは苦しそうに見える
    <br>柔らかい素材は着太りする
     <br>オーバーサイズすぎる服は体のボリュームが悪目立ちし、怖そうな印象を与える
     <br><%= image_tag "straightng.jpg", class: "example"%>
    </div>

   <div class="table">
    ■似合う服の一例
    </div>
    <div class="image">
       <%= image_tag "straight1.jpg", class: "example"%>
       <p>「ストレート」タイプは、柔らかい服を纏うと筋肉が張って見えるので、ハリのある上質な服がおすすめです。
       <br>そこで、スーツ地のセットアップ。ネックラインの開いたTシャツで肉感的な男らしさも薫らせて。
       </p> 
    </div>
    <div class="image">
       <%= image_tag "straight2.jpg", class: "example"%>
       <p>ぴったりした体のラインを強調する形は苦手なので、ストンとしたベーシックなシルエットを選ぶのがおすすめです。
       <br>シャツならストレスを感じないジャストサイズ、ジーンズなら王道のストレートで。ハリのある生地感も◎。
       </p> 
    </div>
    <div class="image">
       <%= image_tag "straightsuit.jpg", class: "example"%>
       <p>ストレートタイプの男性に似合うスーツのジャケットは、着丈長めの、ウエスト絞り付きジャケットがおすすめです！
          <br>上半身のフィット感を重視する必要があるため、アメリカンスーツの特徴である、着丈が長く、深いVゾーンや太いラペル幅などの重厚でゆとりあるフレームを残しながら、
          適度に絞りが入ったスタイリッシュなデザインのジャケットがオススメです。
        </p>
    </div>

<div class="return">
   <%=link_to root_path do %>
   <button class="btn_root">トップページへ戻る</button>
   <%end%>
</div>
    <footer>
   </footer>
    <body>
    </html>