<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>骨格ウェーブタイプ</title>
    <link rel="stylesheet" hrel="page_b.css">
  </head>
  <body class="wave">
    <header>
      骨格診断ツール コッカくん
    </header>
    <div class="type">
      Bが多かったあなたは、<span class="blue">『骨格ウェーブタイプ』</span>です！
      <br>王子様タイプとも呼ばれ、首が長くて華奢な人が多く、特徴は下記の通りです。
    </div>

      <ul class="characteristics">
      <li>胸板が薄くて華奢</li>
      <li>筋肉が付きにくく肌が柔らかい</li>
      <li>首が長い</li>
      <li>撫で肩</li>
      <li>ウエストが細くてくびれがある</li>
      <li>腰の位置低い/足が短め</li>
      <li>下半身太りしやすい</li>
      <li>持たれやすいイメージは、かわいい、甘い、優しい、ソフト、繊細</li>
      <li>このタイプの有名人は、高橋一成さん 山下智久さん 二宮和也さんがいます。</li>
      </ul>
    </div>
    
    <div class="table">
      ■筋トレについて
      </div>
    <div class="muscle">
    骨格ウェーブタイプの人は三角筋を重点的に鍛えましょう。
    <br>下半身にボリュームがあるため、上半身を鍛えるとバランスが良くなります。
    <br>なで肩で肩幅が狭い人が多いので、三角筋を重点的に鍛えて肩幅を広げることで肩の傾斜も水平に近づいて、なで肩も解消されます。
    <br>骨格ウェーブタイプの体型は洋なし体型の人が多く、洋なし体型のまま太るため上半身は華奢だが下腹、お尻、下半身全体に肉が付くタイプです。
    </div>

    <div class="table">
    ■似合う服装について
    </div>
    <div class="coordination">
    タイトでコンパクトなシルエットが似合うためタイト、またはジャストサイズがおすすめ。
    <br>薄くて柔らかい素材で着丈、袖、裾は短めにしましょう。
    </div>
    <div class="table">
    ■トップスについて
    </div>
    <div class="top">
    キーワードは上半身にボリュームを！
     <br>華奢なのでカーディガンなどの重ね着もおすすめ！
     <br>首が長いため、鎖骨周りが寂しい印象にならないように首元が空いていない服装が似合う。
     <br>下に重心がある体型のため、上半身に主張のある柄服/襟のある服
     <br>柄や色を持ってきて見る人の視線を上に持っていく
     <br>体が薄くて柔らかい印象なので透け感/ソフト生地が似合う
     <br>腰の位置が低いためトップスの丈を短くしたり、シャツをズボンにインして腰の位置を高く見せる
     <br>手首も細めなので、短め袖、丈にするとオシャレ感がアップ
    </div>
    <div class="table">
    ■ボトムスについて
    </div>
    <div class="bottom">
    コンパクトに見えるスキニータイプ、柔らかい生地が似合うのでストレッチが効いたスキニー
    <br>九分丈パンツで重心を上に持っていける、足首を見せると美脚に見える
    <br>短パンなら膝を隠すと短足に見えるので膝上パンツが似合う
    </div>

    <div class="table">
    ■似合う柄について
    </div>
    <div class="pattern">
    線なら細い線
    <br>色コントラスト弱め 柄は細かい柄
    </div>

    <div class="table">
    ■NGな服装について
    </div>
    <div class="ng">
    ルーズパンツ
    <br>元々下半身にボリュームがあるため、さらに下半身にボリュームを持たせてしまう服装はNG
    <br><%= image_tag "waveng.jpg", class: "example"%>
    </div>

    <div class="table">
    ■似合う服の一例
    </div>
    <div class="image">
       <%= image_tag "wave1.jpg", class: "example"%>
       <p>ウェーブタイプの体の柔らかな曲線を活かすには、フィット感のあるテーラードジャケットやスキニータイプが最適です。
       <br>華奢な上半身を男らしく飾るトップスのレイヤードなど、足し算コーデで胸周りにアクセントを。
       </p> 
    </div>
    <div class="image">
       <%= image_tag "wave2.jpg", class: "example"%>
       <p>体が細く、華奢。そんな貧相な印象もつきまとうので、総柄のシャツでアクセントを作ることがおすすめ。
       <br>ただし柄は大味にならないような細かい柄が必須。下半身は、すっきりとしたフォルムのスニーカーとパンツでシュッと見せましょう。
       </p> 
    </div>
    <div class="image">
       <%= image_tag "wavesuit.jpg", class: "example"%>
       <p>骨格診断ウェーブタイプの男性は、柔らかく胸板にあまり厚みのない華奢な上半身です。
        <br>Vゾーンの空きを浅めに、着丈を短めにすることで、薄い胸元を立体的に演出することができます。
        <br>さらに、高めに絞りが効き、ラペル幅が狭いジャケットの方がバランスが良いです。
        <br>ウェーブタイプの男性は固い素材が苦手です。なるべく柔らかい素材のものを選びましょう。
       </p>
    </div>
<div class="return">
   <%=link_to root_path do %>
   <button class="btn_root">トップページへ戻る</button>
   <%end%>
</div>
    <footer>
   </footer>
    <body>
    </html>