<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>骨格ナチュラルタイプ</title>
    <link rel="stylesheet" hrel="page_c.css">
  </head>
  <body class="natural">
    <header>
      骨格診断ツール コッカくん
    </header>
    <div class="type">
      Cが多かったあなたは、<span class="green">『骨格ナチュラルタイプ』</span>です！
      <br>モデルタイプとも呼ばれ、カジュアルな服装が似合う人が多く、特徴は下記の通りです。
    </div>

      <ul class="characteristics">
      <li>骨格がしっかりしている</li>
      <li>骨/関節/筋肉/血管が目立つ</li>
      <li>首筋/鎖骨/喉仏が目立つ</li>
      <li>肩幅が大きい</li>
      <li>手足が大きい</li>
      <li>太るとガタイが良くなる</li>
      <li>持たれやすいイメージは、ラフ、ワイルド、独自的、異端児、冒険的</li>
      <li>このタイプの有名人は、オダギリジョーさん 阿部寛さん 江口洋介さんがいます。</li>
      </ul>
    </div>
    
    <div class="table">
      ■筋トレについて
      </div>
    <div class="muscle">
    骨格ナチュラルタイプの人は太りたいなら上下にバランスよく筋トレ
    <br>痩せたいなら、どこかの部位を鍛えるよりかは全体的に体を動かす水泳やランニングのような有酸素運動
    <br>骨格ナチュラルタイプはバナナ体型の人が多く、筋肉や脂肪より骨や筋が目立ちます。
    <br>太るときは上と下が一緒に太るため、ぽっちゃりというよりかは、ガタイが良くなります。
    <br>筋肉も脂肪も付きにくく、骨が目立つため太りたいという人が多い。
    </div>

    <div class="table">
    ■似合う服装について
    </div>
    <div class="coordination">
    個性的/カジュアル デニムなどの定番のカジュアルが得意です。
    <br>しっかりとした骨や関節を目立たせないために着丈、袖、裾は長め 
    <br>オーバーサイズ命!
    </div>
    <div class="table">
    ■トップスについて
    </div>
    <div class="top">
    大きめの服、長めの丈、袖
     <br>肩幅が広いので痩せている人でも服に着られている感が出ない。
     <br>骨が目立つと貧相なイメージなので露出が少ない服
     <br>胸板は薄い方なので重ね着しても着太りしない
     <br>カジュアル感が一気に出るフード付きの服
    </div>
    <div class="table">
    ■ボトムスについて
    </div>
    <div class="bottom">
    骨感があまり強調されない、裾長め、ワイドパンツ、チノパン
    <br>ジーンズ、ダメージ加工もOK！
    </div>

    <div class="table">
    ■似合う柄について
    </div>
    <div class="pattern">
    個性の出せるエスニック柄、ランダムな柄、細かすぎない柄
    <br>基本的に柄物は似合いますが、体格がしっかりしているため小さいドットなどの細かすぎる柄は合わない傾向にあります。
    </div>

    <div class="table">
    ■NGな服装について
    </div>
    <div class="ng">
    タイトな服、露出多めの服
    <br>骨感、関節、筋が目立って不健康に見えるため。
    <br><%= image_tag "naturalng.jpg", class: "example"%>
    </div>
    
    <div class="table">
    ■似合う服の一例
    </div>
    <div class="image">
       <%= image_tag "natural1.jpg", class: "example"%>
       <p>「ナチュラル」タイプの特徴である“骨っぽさ”を上手に活かすには、ゆったりしたサイズ感のアイテムでトータルコーデ。
       <br>空気をはらむシルエットで、体が持つフレーム感が自然に活かされるので、大人らしい余裕も漂います。
       </p> 
    </div>
    <div class="image">
       <%= image_tag "natural2.jpg", class: "example"%>
       <p>キレイめなコーディネイトもカジュアルな素材を選ぶと、骨っぽさのある「ナチュラルタイプ」にしっくりなじみます。
       <br>ジーンズはややゆとりのあるものを選ぶのがコツ。体の凹凸が際立たなくなるのでオススメです。
       </p> 
    </div>
    <div class="image">
       <%= image_tag "naturalsuit.jpg", class: "example"%>
       <p>Vゾーンの空きを深くし、ボックスシルエットor絞りの位置が低いデザインのものを選ぶことで、肩のフレーム感を強調しないシルエットでジャケットを着こなすことができます。
       <br>こういった形は、アメリカンスーツに多いデザインです。大きめなサイズ感をスタイリッシュに着こなせるのはナチュラルの男性の大きな特徴です。
       </p>
    </div>
<div class="return">
   <%=link_to root_path do %>
   <button class="btn_root">トップページへ戻る</button>
   <%end%>
</div>
    <footer>
   </footer>
    <body>
    </html>